<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ePanic.CommonCore.Shared.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <ePanic.CommonCore.Shared.My.MySettings>
      <setting name="Setting" serializeAs="String">
        <value>asdf</value>
      </setting>
      <setting name="FTPServer" serializeAs="String">
        <value>ftp.ourit.works</value>
      </setting>
      <setting name="FTPUser" serializeAs="String">
        <value>solvtopia</value>
      </setting>
      <setting name="FTPPass" serializeAs="String">
        <value>GreenElephant81!</value>
      </setting>
      <setting name="FTPFolder" serializeAs="String">
        <value>ePanicUpdates</value>
      </setting>
      <setting name="SQLServer" serializeAs="String">
        <value>35.188.240.71</value>
      </setting>
      <setting name="SQLUser" serializeAs="String">
        <value>epanicremote</value>
      </setting>
      <setting name="SQLPass" serializeAs="String">
        <value>SunnyCrab28!</value>
      </setting>
      <setting name="DbConnection" serializeAs="String">
        <value>Data Source=[SQLServer];Initial Catalog=[DataBaseName];Persist Security Info=True;User ID=[SQLUser];Password=[SQLPass];Pooling=false;MultipleActiveResultSets=True;Packet Size=32767;</value>
      </setting>
    </ePanic.CommonCore.Shared.My.MySettings>
  </userSettings>
</configuration>
